<footer>
    <div class="container">
      <div class="row">
      <h4 style="text-align: center;">copyright@2020</h4>
      </div>
    </div>
  </footer>
  <script src="js/jquery.min.js"></script>
      <script src="js/bootstrap.min.js" > </script>