<header class="navbar navbar-bright navbar-fixed-top" role="banner">
    <div class="container">
    
      <nav class="collapse navbar-collapse" role="navigation">
        <ul class="nav navbar-nav">
          <li>
            <a href="/"> produit </a>
          </li>
          <li>
            <a href="/fornisseur">fournisseur</a>
          </li>
          <li>
            <a href="/rayon">rayon</a>
          </li>
          
        </ul>
        <ul class="nav navbar-right navbar-nav">
          <li class="dropdown">
            <ul class="dropdown-menu" style="padding:12px;">
            
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </header>

  <!-- ----------------------------------------- -->
  <div id="masthead">  
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1>gestion du stock supermarché
            <p class="lead"></p>
          </h1>
        </div>
        <div class="col-md-5">
          <div class="well well-lg"> 
            <div class="row">
              <div class="col-sm-12">
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div><!-- /cont -->
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="top-spacer"> </div>
        </div>
      </div> 
    </div><!-- /cont -->
    
  </div>